<!DOCTYPE html>
<html lang ="es" xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
<meta charset="utf-8">
<title>TP04 Grafión Atilio</title>
</head>
<body>
	<div>
		<div>
			<div class="title">
				<h1>Liga de fútbol profesional</h1>
			</div>
			<ul class="nav">
				<li><a class="nav-link" href="index.html">Home</a></li>
				<li><a class="nav-link" href="fixture.html">Fixture y resultados</a></li>
				<li><a class="nav-link" href="equipos.html">Equipos</a></li>
			</ul>
		</div>
		<div class="row">
			<div class="col-9">
				<div class="equipos">
					<img src="../static/img/river.webp" class="escudos2">
					<article class="parrafo">
						<p>River Plate se fundó el 25 de mayo de 1901, luego de la fusión de dos equipos menores llamados: Santa Rosa y La Rosales. Un grupo de muchachos de clase media del barrio de La Boca, habían creado un club en el cual practicar el deporte de "los ingleses locos".</p>
						<p>Como los rivales cada vez eran más duro, los dos equipos decidieron juntar sus fuerzas. Ahora debían elegir un nombre para el nuevo equipo. Uno de los fundadores, al ir caminando por el puerto, vio a unos marineros que dejaban unos cajones con la inscripción "River Plate", para ponerse a jugar a la pelota. Propuso el nombre y fue el que más consenso tuvo. Había nacido el Club Atlético River Plate. El primer presidente del club fue Leopoldo Bard, quien también fue jugador de la institución.</p>     
						<p>Ahora faltaba una camiseta. Utilizaban una blanca totalmente lisa, pero todos sentían que le faltaba algo. Por esa razón un grupo de chicos, que disfrutaban una linda noche de carnaval vieron un carro parado, de él colgaba una cinta roja de seda y decidieron robarla para adosarla a la camiseta. La cruzaron en el pecho y la pincharon con alfileres, la aceptación fue total.</p>
						<p>La primera cancha estaba ubicada en la Dársena Sur. Pero las mudanzas fueron constantes. Se fueron para Sarandí, luego volvieron a La Boca, donde en 1914, levantaron la primer canchita con tribuna techada. También pasaron por el centro, hasta afincarse definitivamente en zona norte, donde el 25 de mayo de 1938 inauguraron el Monumental.</p>
						<p>En 1905, luego de asociarse a la "Football Association" River debutó oficialmente en la tercera división. No comenzó de la mejor manera y a pesar de tener una mala campaña, al año siguiente se inscribió en la Segunda División. En 1908 ascendió a Primera división. En la era amateur sólo obtuvo un título, fue en 1920. Pero eso sería sólo el comienzo de su rica historia.</p>
					</article>
				</div>
				<div class="equipos">
					<img src="../static/img/boca.png" class="escudos2">
					<article class="parrafo">
						<p>El Club Atlético Boca Juniors fue fundado el 3 de abril de 1905 por cinco inmigrantes italianos que vivían en el barrio de La Boca. Sin siquiera imaginarlo, estos cinco jóvenes escribieron los primeros párrafos de la historia del club más popular de la Argentina.</p>
						<p>Boca Juniors jugó en la liga local y en la segunda división de fútbol amateur, hasta que ascendieron a la primera división en 1913. Ganó seis campeonatos amateurs en 1919, 1923, 1924, 1926 y 1930. Tras la profesionalización del fútbol en Argentina, Boca ganó el primer título en 1931.</p>
						<p>Su histórico rival es el Club Atlético River Plate, con quien juega el famoso Superclásico, un evento que, según el periódico inglés The Observer, cuando se juega en la Bombonera, se encuentra entre los 50 espectáculos deportivos que hay que ver antes de morir.</p>
						<p>Boca Juniors ganó 18 títulos internacionales, entre los que se incluyen 6 Copas Libertadores, 4 Recopas Sudamericanas, 3 Copas Intercontinentales, 2 Copas Sudamericanas, 1 Copa Oro, 1 Supercopa Sudamericana y 1 Supercopa Masters, además de los 23 títulos locales.</p>
					</article>
				</div>
				
				<div class="equipos">
					<img src="../static/img/racing.png" class="escudos2">
					<article class="parrafo">
						<p>Racing Club, es una institución deportiva argentina fundada el 25 de marzo de 1903, ubicada en la ciudad de Avellaneda, en el Gran Buenos Aires.</p>
						<p>Si bien su principal actividad deportiva es el fútbol, también se practican diversos deportes como ser: tenis, básquet, futsal, boxeo, vóley, hockey, handball, judo, patín artístico, aikido, gimnasia artística, taekwondo, muay thai, sipalki-do, atletismo y saltos ornamentales. Su estadio, llamado Presidente Perón, es el segundo con más aforo del país y se ubica sobre las calles Omar Oreste Corbatta y Mozart, en el partido de Avellaneda en el sur del Gran Buenos Aires.</p>
						<p>Los colores que lo identifican son el celeste y el blanco en honor a los colores patrios de la República Argentina.</p>
						<p>En la era amateur consiguió nueve campeonatos locales, siete en forma consecutiva, siendo el primer equipo en el mundo en lograrlo: en 1913, 1914, 1915, 1916, 1917, 1918 y 1919, además de los torneos de 1921 y 1925. Y de ellos obtuvo cuatro de forma invicta. A raíz estos logros, recibió el apodo de la La Academia de Football Nacional, que lo identifica hasta la actualidad.</p>
						<p>En la era profesional iniciada en 1931, obtuvo otros ocho campeonatos argentinos: 1949, 1950, 1951, 1958, 1961, 1966, 2001 y 2014. En esta era, además, es el primer equipo argentino en conseguir un tricampeonato local en tres temporadas completas, segundo campeón de América argentino, primer campeón argentino del mundo y primer campeón de Campeones de América.</p>
						<p>Es uno de los 4 equipos argentinos con mayor cantidad de títulos conseguidos en la historia (35), es el equipo con mayor cantidad de copas nacionales de Argentina (12) y es el 3° equipo con mayor cantidad de campeonatos logrados en el fútbol argentino (17).</p>
					</article>
				</div>
				<div class="equipos">
					<img src="../static/img/independiente.png" class="escudos2">
					<article class="parrafo">
						<p>El Club Atletico Independiente, conocido popularmente como Independiente o por su sigla CAI, es una entidad deportiva de Argentina de la ciudad bonaerense de Avellaneda, situado en el sur del Gran Buenos Aires (GBA). Fue fundado el 1 de enero de 1905 por unos jóvenes empleados independistas del Club Maipú. El fútbol es su disciplina más destacada, cuyo primer equipo participa en la Superliga Argentina, aunque también se practican otras disciplinas deportivas a nivel amateur y semiprofesional.</p>
						<p>Ejerce su localia en el estadio llamado Libertadores de América que cuenta con un aforo de 52 364 espectadores. Los colores que identifican al equipo son el rojo, y han sido utilizados en los colores de su uniforme desde 1908.</p>​
						<p>Es uno de los clubes más laureados y con mayor renombre históricamente de Argentina, Sudamérica y el mundo. En el ámbito local, el Rojo es poseedor de 16 ligas y 9 copas, sumando un total de 25 títulos nacionales. Además, en el ámbito internacional, el equipo ha conseguido el récord de siete títulos en la Copa Libertadores, siendo el único club en ganar cuatro finales consecutivas, entre 1972 y 1975. Inclusive, también, es el máximo ganador en la Copa Interamericana (3), la Supercopa Sudamericana (2) y la Copa Sudamericana (2), siendo en estas dos últimas junto a Cruzeiro y Boca Juniors respectivamente.9​ De acuerdo a un estudio estadístico conducido por la IFFHS en 2009, fue el segundo equipo sudamericano más exitoso del siglo XX.</p>
					</article>
				</div>
				<div class="equipos">
					<img src="../static/img/San Lorenzo.png" class="escudos2">
					<article class="parrafo">
						<p>El Club Atlético San Lorenzo de Almagro, conocido popularmente como San Lorenzo de Almagro o simplemente San Lorenzo es un club social y deportivo de Argentina, fue fundado el 1 de abril de 1908. Su principal actividad es el futbol masculino donde participa en la Primera División de Argentina (y en la Copa Argentina). También se practica básquet, natación, atletismo, hockey, rugby y vóley entre otras disciplinas deportivas. Es un club que se destaca por haber sido laureado en todos los deportes, teniendo en su haber campeones olímpicos como Delfo Cabrera. Está incorporado al sistema educativo con un jardín de infantes y un próximo colegio secundario.</p>
						<p>Es considerado como uno de los cinco grandes del fútbol argentino a partir del momento en que la AFA dispuso la implementación del llamado "voto proporcional" en 1937, que consistía en darle mayor poder de decisión a aquellos clubes con mayor número de socios, antigüedad y títulos (estadísticas de la Primera División del fútbol argentino).</p>
						<p>Su estadio, el Pedro Bidegain, más conocido como El Nuevo Gasómetro y la Ciudad Deportiva se encuentran ubicados en la Comuna 7 de la ciudad de Buenos Aires, en el barrio de Bajo Flores, tiene capacidad para 47 964 espectadores y está dentro de los diez estadios más grandes de Argentina. Su anterior estadio, denominado Estadio El Gasómetro (expropiado por un gobierno de facto) se encontraba en el actual barrio de Boedo y llegó a un aforo de 76 000 personas. Conocido como el "Wembley de Boedo", fue el estadio utilizado por la selección Argentina.</p>
						<p>San Lorenzo de Almagro obtuvo 24 títulos.1​ En el plano local ganó 15 campeonatos de Primera División2​, 2 copas nacionales3​ y 2 títulos de la segunda división (1 en el amateurismo y 1 en el profesionalismo). En el medio internacional, ha alzado 5 títulos, 3 de ellos a nivel confederativo e interconfederativo (Conmebol y FIFA), y los otros dos en el ámbito rioplatense (AFA-AUF). Es el cuarto equipo más ganador del profesionalismo (17 títulos)4​ y también es el tercer mejor equipo de la historia de la Primera División de Argentina, según la clasificación histórica.</p>
						<p>A lo largo de su historia fue campeón de la Supercopa Argentina, fue el primer campeón de la Copa Sudamericana (en 2002) el único equipo argentino que ganó la Copa Mercosur además de ganar la Copa Libertadores 2014 y ser subcampeón del Mundial de Clubes ese mismo año, lo que lo hace ser uno de los 4 clubes argentinos que disputaron una final mundial FIFA.</p>
					</article>
				</div>
			</div>
			<div class="col-3">
				<div class="titaus">Auspiciantes</div>
				<div class="auspiciantes">
					<a href="https://www.adidas.com.ar/"><img src="../static/img/adidas.png" class="a"></a>
					<a href="https://www.fravega.com/"><img src="../static/img/fravega.png" class="a"></a>
					<a href="https://www.macro.com.ar/home-page"><img src="../static/img/macro.jpg" class="a"></a>
					<a href="https://www.peugeot.com.ar/"><img src="../static/img/peugeot.png" class="a"></a>
				</div>
			</div>
		</div>

		<div class="footer">Avda. Pedro Ortiz de Zarate N°455-Tel 388 4789555</div>
	</div>
</body>
</html>