<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<meta charset="ISO-8859-1">
<title>TP04 Grafión Atilio</title>
</head>
<body>
	<div>
		<div>
			<div class="title">
				<h1>Liga de fútbol profesional</h1>
			</div>
			<ul class="nav">
				<li><a class="nav-link" href="index.html">Home</a></li>
				<li><a class="nav-link" href="fixture.html">Fixture y resultados</a></li>
				<li><a class="nav-link" href="equipos.html">Equipos</a></li>
			</ul>
		</div>
		<div class="row">
			<div class="col-9">
				<div class="h2"><h2>Noticias</h2></div>
				<div class="card-deck">
					<div class="card col-4">
						<img src="../static/img/cr7.jpg" class="card-img">
						<div class="card-body">
							<h3 class="card-title">12/03/20</h3>
							<p class="card-text">Nueva noticia de los partidos suspendidos por la cuarentena.</p>							
						</div>
					</div>
					<div class="card col-4">
						<img src="../static/img/vivo.jpg" class="card-img">
						<div class="card-body">
							<h3 class="card-title">13/03/20</h3>
							<p class="card-text">Repetición de la transmición en vivo de la final de la copa anual de profesiona.</p>							
						</div>
					</div>
					<div class="card col-4">
						<img src="../static/img/pelota.jpg" class="card-img">
						<div class="card-body">
							<h3 class="card-title">20/03/20</h3>
							<p class="card-text">Reprogramación de sorteos para las proximas fechas.</p>							
						</div>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="titaus">Auspiciantes</div>
				<div class="auspiciantes">
					<a href="https://www.adidas.com.ar/"><img src="../static/img/adidas.png" class="a"></a>
					<a href="https://www.fravega.com/"><img src="../static/img/fravega.png" class="a"></a>
					<a href="https://www.macro.com.ar/home-page"><img src="../static/img/macro.jpg" class="a"></a>
					<a href="https://www.peugeot.com.ar/"><img src="../static/img/peugeot.png" class="a"></a>
				</div>
			</div>
		</div>

		<div class="footer">Avda. Pedro Ortiz de Zarate N°455-Tel 388 4789555</div>
	</div>
</body>
</html>